.container {
    max-width: 320px !important;
}

#customer-support {
    margin-right: 4%;
    position: relative;
}

/* .panel-group {
    margin-top: 90%;
    position: relative;
} */

.panel-group,
.panel,
.panel-heading {
    height: 35px;
    width: 305px;
    background-color: rgb(191, 212, 212);
}

.heading {
    font-family: 'Comic Sans MS';
    font-style: italic;
    text-shadow: 1px 1px 1px;
    font-size: 20px;
    padding: 4px;
    margin: 0px;
}

.panel-collapse {
    border: 1px solid rgb(180, 179, 179);
    padding: 1px;
    height: 350px;
}

.container-fluid {
    padding: 2px;
    height: 350px;
}

.name {
    height: 25px;
    width: auto;
    background-color: rgb(246, 246, 246);
    padding: 3px;
    padding-left: 5px;
    border: 1px solid rgb(216, 213, 213);
    font-family: 'Times New Roman';
}

.row {
    margin: 0px !important;
}

#output {
    padding: 2px;
    margin: 0px;
    width: 50%;
    height: 230px;
    background-color: rgb(233, 243, 243);
    overflow-y: auto;
    overflow-x: auto;
}

p {
    margin-bottom: 0px !important;
    /* overflow: auto; */

}

#typing {
    padding: 2px;
    margin: 0px;
    width: 50%;
    height: 20px;
    background-color: rgb(233, 243, 243);
}

#typing>span {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0px;
    display: inline-block;
    font-size: small;
    width: auto;
}

.col-12 {
    padding: 2px !important;
    margin: 1px;
    margin-left: 0px;
    width: 100%;
    /* border: 0px; */
}

.col-9,
.col-2 {
    padding: 0px !important;
    margin: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

#message,
#handle,
#submit {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;
    margin-top: 2px;
}

#submit {
    width: 67px;
    height: 30px;
}

#div1 {
    text-align: center;
    color: rgba(174, 192, 192, 0.876);
    text-decoration: underline;
    font-style: italic;
    font-size: 40px;
    text-shadow: 3px 3px black;
    background: rgb(189, 253, 232);;
    padding: 3px;
}

#header {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    word-spacing: 70px;
    border: 10px;
    margin: 10px;
    text-shadow: 2px 3px rgb(189, 253, 232);
    font-weight: bolder;
    cursor: pointer;
}

#header > a {
    color: rgba(97, 104, 104, 0.876);
}

#header a:hover {
    background-color: #e7e7e7;
    color: black;
}

#text {
    font-size: 20px;
    font-style: italic;
    padding-left: 10px;
    padding-top: 5px;
}

#abc {
    font-weight: bolder;
    font-size: 30px;
    font-style: arabic;
    color: rgb(122, 163, 149)
}

#bold {
    font-weight: bolder;
    font-size: 28px;
    text-shadow: 2px 2px black;
    color: rgb(122, 163, 149);
}

#div2 {
    font-size: 25px;
    font-style: italic;
    color: rgb(100, 98, 98);
    padding-left: 10px;
    padding-top: 5px;
    text-shadow: 1px 1px black;
}

.next {
    font-size: 27px;
    color: rgb(250, 106, 106);
    cursor: pointer;
    padding-left: 10px;
    font-family: 'Comic Sans MS';
    font-style: italic;
}

#demo {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 25px;
}

footer {
    padding-left: 10px;
    padding-top: 5px;
}



/* .button:hover {
    background-color: yellow;
    cursor: pointer;
} */

/*hovering effect*/

/* .intro {
    font-size: 20px;
    font-style: italic;
} */

/* .topic {
    font-size: 30px;
    font-weight: bolder;
    color: blue;
} */

/* #content {
    font-style: italic;
    font-size: 28px;
    color: blue;
}

#pts {
    font-size: 30px;
    font-style: oblique;
    font-weight: normal;
} */

/* #list {
    color: black;
} */
